html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline; }

* {
  box-sizing: border-box;
}

ul {
	list-style: none;
}

body {
	font-family: 'Muli';
	font-size: 15px;
  	margin: 0 auto;  
}

@font-face {
	font-family: 'Muli';
	src: url("fonts/Muli-Regular.ttf") format("truetype");
	font-weight: 400; 	
}

@font-face {
	font-family: 'Muli';
	src: url("fonts/Muli-ExtraLight.ttf") format("truetype");
	font-weight: 200;
}

.container {
	margin: 0 auto;
	max-width: 1210px;
	padding: 0 10px;
}

header, section {
	width: 100%;
	height: 100vh;
}

// VARIABLE COLORS

$h1col: #002841;

// HEADER

.sticky {
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 9999;
	border-top: 0;
	margin: 0 auto;
	background-color: rgba(0,0,0,0.5);
	transition: all 1s;
}

.trans {
	transition: all 1s;
}

.clear {
	content: "";
	clear:both;
	display: block;
}

.scale-plus {
	transform: scale(1.1);
	transition: all 0.5s;
}

.logo-animate {
	margin-top: 10px;
	transition: all 1s;
	margin-bottom: 10px;
	z-index: 9999;
}

.margin-top30 {
	margin-top: 30px;
	transition: all 1s;
}

.yel-prev {	
    height: 21px;
    width: 30px;
    background: url('images/nav.png');
    transform: rotate(180deg);    
    z-index: 9999999;
    position: absolute;    
    top: 70%;

    &:hover {
    	filter: brightness(50%);
    }

    .bx-prev {
        display: flex;        
        height: 21px;
        width: 30px;

        &:focus {
        	outline: none;
        }
    }
}

.yel-next {	
    height: 21px;
    width: 30px;
    background: url('images/nav.png');    
    z-index: 9999999;
    position: absolute;
    left: 50px;
    top: 70%;

    &:hover {
    	filter: brightness(50%);
    }

    .bx-next {
        display: flex;        
        height: 21px;
        width: 30px;

        &:focus {
        	outline: none;
        }
    }
}

header {

	.header{
		position: relative;

		.bx-wrapper {
			box-shadow: none;
			border: 0;
			margin: 0;			
			position: absolute;
			top: 0;

			.next-me {
				background: url('images/nav.png');
				filter: brightness(50%);
			}

			.prev-me {
				background: url('images/nav.png');
				filter: brightness(50%);
				transform: rotate(180deg);
			}

			.bx-next {
				//background: url('images/nav.png');
			}

			.bx-pager {
				top: 45%;
				right: 50px;
				//min-width: 140px;
    			z-index: 9999999;
    			display: flex;
    			flex-direction: column;
    			padding-top: 0;
    			width: auto;

    			@media all and (max-width: 599px){
    				display: none;
    			}

    			.bx-pager-item {
    				margin-bottom: 25px;

    				&:last-of-type {
    					margin-bottom: 0;
    				}

    				.active {
    					background-color: #ffcd19;
    				}

    				a {
    					background-color: #fff;
    					width: 12px;
    					height: 12px;
    					border-radius: 100%;
    				}
    			}
			}			
		}

		&__slider {
			z-index: 1;

			.slide {
				width: 100vw;

				@media all and (max-width: 980px){
					width: auto !important;
				}
				
				img {
					width: 100vw;
					height: 100vh;
					filter: brightness(50%);

					@media all and (max-width: 980px){
						overflow: hidden;
						flex: 1;
						width: 100%;
						height: auto !important;
					}
				}
			}
		}

		.header-nav {			
			z-index: 9999;
			display: flex;			
			justify-content: center;			

			.header-container {
				display: flex;
    			justify-content: space-between;
    			width: 1190px;
    			padding: 0 10px;

				.logo {
					margin-top: 40px;
					margin-bottom: 10px;
					z-index: 9999;					

					img {
						transition: ease 1s;					

						&:hover {						
							filter: brightness(50%);
						}
					}								
				}

				.navBG {
					background-color: blue;
					opacity: 0.5;
					transition: ease 1s;

					#menuToggle {
						opacity: 1;
					}
				}

				nav {					
					position: sticky;

					#menuToggle {
						width: 40px;
						height: 40px;
						background-color: red;
						display: none;
						float: right;
						position: relative;
						opacity: 0.5;
						margin-top: 40px;

						@media all and (max-width: 980px){
							display: block;	
							text-align: right;						
						}

						@mixin belt {
							position: absolute;
							width: 30px;
							height: 3px;
							background-color: #fff;							
							right: 5px;	
						}

						:nth-child(1) {
							@include belt;
							top: 12px;					
						}

						:nth-child(2) {
							@include belt;
							top: 20px;						
						}

						:nth-child(3) {
							@include belt;
							top: 28px;						
						}
					}

					ul {
						display: flex;
						height: 100%;

						@media all and (max-width: 980px){
							flex-direction: column;
							margin-top: 80px;
							display: none;						
						}					

						li {
							margin-left: 75px;
							padding: 50px 0;
							transition: all ease 4s;

							@media all and (max-width: 980px){
								margin-bottom: 10px;
								margin-left: 0;
								padding: 0 10px;
								font-size: 20px;
							}

							@media all and (min-width: 981px){
								&:hover {
								
									a {
										border-top: 3px solid rgba(255,255,255,0.5);
										padding-top: 5px;
										transition: border-top 0.2s;
									}								
								}
							}							

							&:first-of-type {
								margin-left: 0;
							}

							a {
								text-decoration: none;
								color: #fff;								
							}								
						}

						@media all and (min-width: 980px){
							li:hover:after {
								width: 100%;
								left: 0;							
							}

							 li:after {
								content: "";
							    display: block;
							    position: absolute;
							    top: 80px;
							    left: 50%;
							    width: 0;
							    height: 3px;
							    background: rgba(255,255,255,0.5);
							    transition: all 0.7s ease-out;						  	
							}
						}						
					}
				}
			}			
		}

		.promo-more {
			position: relative;
			z-index: 999;
			font-size: 40px;
			height: 100vh;
			display: flex;
			align-self: center;

			@media screen and (max-width: 980px){
				height: auto;

				.yel-next, .yel-prev {
					top: auto;
				}
			}

			.under-more {
				display: flex;
				flex-direction: column;
				justify-content: center;

				div {
					color: #fff;
					line-height: 60px;
					font-weight: 200;

					span {
						color: #00b6dc;					
					}
				}

				.promo-links {
					font-size: 14px;
					text-decoration: none;
					margin-top: 30px;

					a {
						text-decoration: none;
						border-radius: 30px;
						padding: 20px 40px;
						transition: all 0.4s;
						border: 2px solid #fff;
						color: #fff;
						background-color: rgba(0,0,0,0.5);
						font-weight: 700;	

						&:hover {
							color: $h1col;
							background-color: #fff;
							box-shadow: inset 0 0 10px #000;							
						}

						&:first-of-type {
							margin-right: 20px;
						}
					}

					@media all and (max-width: 980px){
						display: flex;
						flex-direction: column;
						margin-bottom: 30px;

						:first-of-type {
							margin-bottom: 20px;
							margin-right: 0 !important;
						}

						a {
							padding: 10px 20px;
							line-height: 2em;
						}
					}					
				}
			}				
		}
	}
}

// SECTIONS

.in-view {		
	transition: all ease 1.5s;
	overflow: hidden;
}

section {	
	height: 100vh;
	overflow: hidden;	

	@media screen and (max-width: 980px){
		height: auto;
		overflow: auto;
		position: relative;
		padding-bottom: 30px;
	}

	article {
		margin-top: 220px;		
		overflow: hidden;
		opacity: 0;

		@media all and (max-width: 1280px){
			flex-direction: column;
			margin-top: 0;
		}

		.description-img {
			position: relative;
			width: 491px;
			height: 512px;
			display: flex;
			align-items: center;
			justify-content: center;
			overflow: hidden;
			// padding-left: 100vw;	

			@media all and (max-width: 980px){
				display: none;
			}

			img {
				transition: all ease 1s;
				height: 100%;
				flex: 1; 

				&:hover {
					transform: scale(1.1);
				}
			}									
		}

		.description-text {
			flex: 0 0 610px;

			h1 {
				color: $h1col;
				font-size: 36px;
				font-weight: 700;
				margin-bottom: 55px;
				margin-top: 10px;
			}

			p {
				color: #333;
				font-size: 18px;
				margin-bottom: 50px;
				line-height: 32px;							

				a {
					color: #01a7ca;
					text-decoration: none;
				}
			}
			
			ul {
				padding-left: 0;
				font-size: 18px;

				li {
					margin-top: 30px;

					img {
						margin-right: 20px;						
					}
				}
			}
		}

		.description-text:nth-of-type(2n-1){
			margin-right: 90px;

			@media all and (max-width: 980px){
				margin-right: 0;
			}
		}

		.description-text:nth-of-type(2n){
			margin-left: 90px;

			@media all and (max-width: 980px){
				margin-left: 0;
			}
		}
	}
}

.over-form {
	background-color: #f5f8fa;

	.container {
		&__form {
			text-align: center;

			h1 {
				padding-top: 50px;
				color: #333;
				font-size: 18px;
				font-weight: 600;
				line-height: 32px;
			}

			h3 {
				font-weight: 600;
				font-size: 15px;
				color: #7b94a5;
				line-height: 27px;
				margin-bottom: 45px;
			}
		}

		.form {
			margin-top: 45px;
			max-width: 580px;
			margin: 0 auto;

			&__row {
				display: flex;
				justify-content: space-between;
				max-width: 100%;
				flex: 0 0 580px;				
				margin: 0 auto;
				margin-bottom: 20px;
				flex-wrap: wrap;

				:nth-child(1){
					margin-right: 30px;

					@media all and (max-width: 599px){
						margin-right: 0;												
					}
				}

				.full-input {
					position: relative;
					flex: 1;

					#name {
						@media all and (max-width: 599px){
							margin-bottom: 20px;
						}
					}					
				}

				.full-input-email {
					position: relative;
					min-width: 100%;
				}

				.floating-input:focus ~ .form__label,
				.floating-input:not(:focus):valid ~ .form__label {
					top: 5px;
					bottom: 10px;
					left: 20px;
					font-size: 10px;
					opacity: 1;
					color: #7b94a5;
				}				

				input[type="text"] {
					font-size: 15px;					
					//min-width: 275px;
					min-width: 100%;
					height: 50px;
					box-shadow: 0px 8px 8px 0px rgba(145, 154, 159, 0.16);
					border: none;
					padding: 20px;
				}

				input[type="email"] {
					font-size: 15px;					
					min-width: 100%;
					height: 50px;
					box-shadow: 0px 8px 8px 0px rgba(145, 154, 159, 0.16);
					border: none;
					padding: 20px;
				}

				.floating-input:focus {
					padding-top: 25px;
				}

				.form__label {
					position: absolute;
					pointer-events: none;
					left: 20px;
					top: 18px;
					transition: 0.2s ease all;
				}

				.submit-btn {
					margin-top: 45px;
					border-radius: 25px;
					background-color: #00b6dc;
					box-shadow: 0px 11px 24px 0px rgba(0, 182, 220, 0.12);
					border: none;
					color: #fff;
					padding: 15px 40px;
					font-size: 14px;
					text-transform: uppercase;
					cursor: pointer;
					transition: all 0.3s;

					&:hover {
						background-color: transparent;
						box-shadow: inset 0 0 0 3px #00b6dc;               					
						color: #00b6dc;
					}
				}
			}

			&__area {
				max-width: 580px;
				margin: 0 auto;				

				.full-input-email {
					position: relative;
					min-width: 100%;

					textarea {
						display: flex;
						max-width: 580px;
						margin: 0 auto;
						height: 160px;
						outline: none;
						border: none;
						box-shadow: 0px 3px 6px 0px rgba(145, 154, 159, 0.08);
						resize: none;
						min-width: 100%;
						font-family: 'Muli';						
					}

					.form__label {
						position: absolute;
						pointer-events: none;
						left: 20px;
						top: 18px;
						transition: 0.2s ease all;
					}

					.floating-input:focus ~ .form__label,
					.floating-input:not(:focus):valid ~ .form__label {
						top: 5px;
						bottom: 10px;
						left: 20px;
						font-size: 10px;
						opacity: 1;
						color: #7b94a5;
					}

					 .floating-input {
					 	padding: 25px 0 0 20px;
					 }	
				}				
			}

			&__row-regulation {
				max-width: 580px;
				margin: 0 auto;
				margin-top: 20px;

				.full-regulation {
					display: flex;

					.checkbox {
						margin-right: 15px;

						input[type="checkbox"]{
							width: 16px;
							height: 16px;
							visbility: hidden;
							margin: 0;
							cursor: pointer;

							@media all and (max-width: 599px){
								width: 30px;
								height: 30px;
								font-size: 20px;
							}							
						}

						input[type="checkbox"]:after {
							content: "";
							background-color: #fff;
							display: inline-block;
							color: #00b6dc;
							visibility: visible;
							width: 16px;
							height: 16px;
							text-align: center;

							@media all and (max-width: 599px){
								width: 30px;
								height: 30px;
							}
						}

						input[type="checkbox"]:checked:after {
							content: "\2714";
							padding: -5px;
							font-weight: 700;
						}
					}

					.text-regulation {
						color: #002841;
						font-size: 10px;
						line-height: 16px;
						text-align: left;
						font-weight: 600;
					}
				}
			}
		}
	}
}

// FOOTER

footer {
	background-color: #001927;

	.footer {
		display: flex;
		justify-content: space-between;
		min-width: 100%;
		flex-wrap: wrap;

		&__column * {
			color: #fff;
			text-decoration: none;
		}

		&__column {
			margin-top: 90px;

			.adress {
				margin-bottom: 15px;
			}

			.map {				
				margin-top: 45px;
				max-width: 200px;
				max-height: 200px;
				position: relative;
				clip-path: circle(50% at 50% 50%);

				.pin-maker {
					position: absolute;
					top: 35%;
					left: 40%;
					z-index: 1;				
				}

				iframe {
					overflow: hidden;					
					height:200px;
				    width:100%;
				    border:0;
				    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+ */
				    filter: gray; /* IE6-9 */
					  -webkit-filter: grayscale(99%); /* Chrome 19+ & Safari 6+ */
					  -webkit-backface-visibility: hidden;  /* Fix for transition flickering */
				}
			}

			li {
				margin-bottom: 25px;

				&:hover {
					text-decoration: underline;
				}
				
				&:last-of-type {
					margin-bottom: 0;
				}
			}			
		}

		&__title {
			margin-bottom: 30px;
		}
	}

	.owner {
		display: flex;
		justify-content: flex-end;
		color: #fff;
		padding-bottom: 50px;

		@media screen and (max-width: 980px){
			margin-top: 50px;
		}
	}	
}

